<br />
<div class="errors">
  <% if object.errors.any? %>
  <h3>Please address the following errors:</h3>
    <% object.errors.full_messages.each do |message| %>
      <h2><%= message %></h2>
    <% end %>
  <% end %>
</div>
<br />
